body{
  position:relative;
  width:700px;
  height:400px;
  padding:5em 20em;
 background:url(http://www.unsigneddesign.com/10_Subtle_Grunge_Textures/subtlegrunge_1.jpg) repeat; 
 }

header{
  text-align:center;
  color:black;
  font-size:15px;
  line-height:1.5;
  "font-family: serif;"
 }


.animation{
  position:relative;


}

h3{
  color:black;
}

article{
    width:500px ;
    float: left;
    color:dimgray;
    padding:0 0 0 2m;

}

section{
   width:500px;
   text-align:center;
   color:dimgray;
   padding:0 0 0 10em;
}